<div id="movies">
  {% for movie in movies %}
  <div>
    {{ forloop.counter }} {{ movie.title }} {{ movie.genre }}
    <button
      class="btn btn-secondary"
      hx-delete="{% url 'integrations:delete_movie' movie.id %}"
      hx-trigger="click"
      hx-confirm="Are you sure you want to delete this movie?"
      hx-target="#movies"
      hx-swap="outerHTML"
    >
      Delete?
    </button>
    <form>
      <select name="genre" id="genre-select-{{ movie.id }}">
        {% for genre in genres %}
        <option value="{{genre.id}}" {% if genre == cur_genre %}selected="selected"{% endif %}>
          {{genre.label|capfirst}}
        </option>
        {% endfor %}
      </select>
      <button
        class="btn btn-primary"
        hx-post="{% url 'integrations:save_movie' movie.id %}"
        hx-trigger="click"
        hx-target="#movies"
        hx-confirm="Are you sure you want to save this movie?"
        hx-swap="outerHTML"
      >
        Save
      </button>
    </form>
  </div>
  {% endfor %}
  <button
    class="btn btn-primary"
    hx-get="{% url 'integrations:load_genres' %}"
    hx-trigger="click"
    hx-target="#genre-list"
    hx-swap-oob="outerHTML"
  >
    Load Genres
  </button>

  <div id="genre-list">
    <!-- This div will be updated with the response from the load_genres view -->
  </div>
  <script>
    console.log('movies_list');

    function updateSelectOptions(data) {
      const selectOptionsList = document.querySelectorAll('select[id*=genre-select-]');
      console.log('selectOptionsList');
      console.log(selectOptionsList);
      for (const selectOptions of selectOptionsList) {
        selectOptions.innerHTML = ''; // Clear existing options
        data.genres.forEach(function (genre) {
          console.log(genre);
          var option = document.createElement('option');
          option.value = genre.id;
          option.text = genre.label;
          selectOptions.appendChild(option);
        });
      }
    }

    document.body.addEventListener('htmx:afterSwap', function (event) {
      console.log('h');
      if (event.target.id === 'genre-list') {
        console.log('h');
        var responseData = JSON.parse(document.getElementById('genre-list').innerText);
        updateSelectOptions(responseData);
      }
    });
  </script>
</div>
