{% extends "integrations/base_unpoly.html" %}
{% block main %}
<div id="#unpolyForm">
    <div class="container mx-auto mt-8">

        <form action="{% url 'integrations:support_save_movie_unpoly' movie.id %}" method="POST" up-submit up-target="#unpolyForm" class="w-64 mx-auto">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block mb-2">Title:</label>
                <input type="text" name="title" class="border w-full p-1" value="{{movie.title}}">
            </div>

            <div class="mb-4">
                <label class="block mb-2">Genre:</label>
                <input type="text" name="genre" class="border w-full p-1" value="{{movie.genre}}">
            </div>

            <div class="mb-4">
                <label class="block mb-2">Year:</label>
                <input type="text" name="year" class="border w-full p-1" value="{{movie.year}}">
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>

    </div>

    <script>
{% endblock %}
