<div id="movies">
  {% for movie in movies %}
    {% include 'integrations/support_movie_htmx.html' %}
  {% endfor %}
  <button
    class="btn btn-primary"
    hx-get="{% url 'integrations:support_load_genres' %}"
    hx-trigger="click"
    hx-target="#genre-list"
    hx-swap-oob="outerHTML"
  >
    Load Genres
  </button>

  <div id="genre-list">
    <!-- This div will be updated with the response from the support_load_genres view -->
  </div>
  <script>
    console.log('support_movies_list_htmx');

    function updateSelectOptions(data) {
      const selectOptionsList = document.querySelectorAll('select[id*=genre-select-]');
      for (const selectOptions of selectOptionsList) {
        selectOptions.innerHTML = ''; // Clear existing options
        data.genres.forEach(function (genre) {
          var option = document.createElement('option');
          option.value = genre.id;
          option.text = genre.label;
          selectOptions.appendChild(option);
        });
      }
    }

    document.body.addEventListener('htmx:afterSwap', function (event) {
      if (event.target.id === 'genre-list') {
        var responseData = JSON.parse(document.getElementById('genre-list').innerText);
        updateSelectOptions(responseData);
      }
    });
  </script>
</div>
