{% extends "integrations/base.html" %} {% load report_extras %} {% block content %}
<div id="preactRoot"></div>
{% endblock content %} {% block scripts %}
<script type="module">

  // define vars from template context
  const movie_id = "{{ movie_id }}";
  const meta_data = {{ meta_data|to_safe_json }};
  const get_movies_url = "{% url 'integrations:support_get_movies_dirty' %}";
  const csrf_token = "{{ csrf_token }}";
  console.log('movie_id');
  console.log(movie_id);
  console.log('meta_data');
  console.log(meta_data);
  console.log('get_movies_url');
  console.log(get_movies_url);
  console.log('csrf_token');
  console.log(csrf_token);

  // include js snippets -- snippets will include snippets they depend on, but not 3rd part dependencies
  {% js_imports as imports %}
  {% include "js/preact.js" %}
  {% include "js/Button.js" %}
  {% include "js/Text.js" %}
  {% include "js/SearchableSelect.js" %}
  {% include "js/MultiSelect.js" %}
  {% include "js/DateRange.js" %}
  {% include "js/CopyButton.js" %}
  {% include "js/useCSS.js" %}
  {% include "js/OneTouchButton.js" %}

  // go into verbatim mode so we don't have any double curly funny business
  {% verbatim %}

  function App() {
    const [loading, setLoading] = useState(false);
    const [resp, setResp] = useState("stubbed");
    const [movies, setMovies] = useState();

    useEffect(() => {
      fetch(get_movies_url, {
        headers: {
          // "X-CSRFToken": csrf_token,
          "Content-Type": "application/json",
        }
      })
      .then(r => r.json())
      .then(r => {
        console.log(r)
        setMovies(r.movies)
      });
    },[]);

    return html`
      <div
        style=${{
          background: "#f8f8f8",
          padding: "1rem",
          border: "1px solid #e7e7e7",
          borderRadius: "0.25rem",
        }}
      >
      </div>
      <${ResponseDisplay} loading=${loading} resp=${resp} />
      ${movies && html`<table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Genre</th>
            <th scope="col">Year</th>
          </tr>
        </thead>
        <tbody>
          ${movies.map(movie => html`<tr key=${movie.id}>
            <td>${movie.title}</td>
            <td>${movie.genre}</td>
            <td>${movie.year}</td>
          </tr>`)}
        </tbody>
      </table>`}
    `;
  }

  function ResponseDisplay({ loading, resp }) {
    if (loading) {
      return html`<h3>Loading...</h3>`;
    }
    if (!resp) {
      return html`<h3>Fetch Data</h3>`;
    }
    return html`
      <h3>Response</h3>
      <${Button}>Hi<//>
    `;
  }

  // Render App
  render(html`<${App} />`, document.getElementById("preactRoot"));

  // close things out
  {% endverbatim %}
</script>
{% endblock scripts%}
